@charset "utf-8";
/* CSS Document */

/* import JQUERY-UI */
@import url(css/jquery-ui/jquery-ui.css);

body{
	background-color:#212121;
	font-family:'Open Sans';
	color:#e2e2e2;

}

h3{
	text-transform:uppercase;
}



a:link {color:#9a9a9a; text-decoration:none}
a:visited {color:#9a9a9a; text-decoration:none}
a:hover {color:#ff6600; text-decoration:none}
a:active {color:#fff; text-decoration:none}

#headline {
	width:100%;
	height:38px;
	border-bottom:solid 3px #ff6600;
	background-color:#000;
	background-image:url(img/topheaderbg.png);
	position: absolute;
	left:0;
	top:0;
	text-align:center;
	line-height:45px;

}

#navbar{
	width:100%;
	height:60px;
	position:absolute;
	border-bottom:solid 1px #ff6600;
	background-image:url(img/navheaderbg.png);
	left:0;
	top:40px;
	font-family:'Open Sans';
	color:#e2e2e2;
	font-size:16px;
	text-transform:uppercase;


}

#navbar li:first-letter{
	font-weight:600;
}

#navbar a:link {color:#e2e2e2; text-decoration:none}
#navbar a:visited {color:#e2e2e2; text-decoration:none}
#navbar a:hover {color:#ff6600; text-decoration:none}
#navbar a:active {color:#fff; text-decoration:none}

.activenav a:link {color:#ff6600 !important;  text-decoration:none;}
.activenav a:visited {color:#ff6600 !important; text-decoration:none;}
.activenav a:hover {color:#e2e2e2 !important; text-decoration:none;}
.activenav a:active {color:#fff !important; text-decoration:none;}


.link_invisble{
	font-weight:300;
	font-size:14px;
}
a.link_invisble:link {color:#e2e2e2 !important;  text-decoration:none;}
a.link_invisble:visited {color:#e2e2e2 !important; text-decoration:none;}
a.link_invisble:hover {color:#ff6600 !important; text-decoration:none;}
a.link_invisble:active {color:#fff !important; text-decoration:none;}

#navbar ul{
	text-align:center;
	margin-top: 1px;
	padding: 0;

}
#navbar li{
	display:inline-block;
	height:67px;
	list-style-type:none;
	padding-right:30px;
	/*margin-right:30px;*/
	float:none;
	font-weight:300;
	vertical-align:middle;
	/*background-image:url(img/navselector.png);
	background-repeat:no-repeat;
	background-origin:padding-box;
	background-position:top;*/
	padding-top:20px;
	padding-bottom:100px;

}

.activenav {
	background-image:url(img/navselector.png);
	background-repeat:no-repeat;
	background-origin:padding-box;
	background-position:top;
	padding-top:80px;
}

#racials{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:94px;
	position:absolute;
	top:101px;
	left:0;
	z-index:1;
	background-repeat:no-repeat;
	background-position:top center;

}

#core{
	width:100%;
	background-image:url(img/corebg.png);
	background-position:top;
	background-repeat:no-repeat;
	background-attachment:fixed;
	position:absolute;
	top:101px;
	left:0;
	padding-top:35px;
	z-index:0;
}

#wrapper{
	width:1070px;
	margin-left:auto;
	margin-right:auto;
	height:100%;



}
#main{
	width:100%;
	float:left;
	border: solid 1px #ff6600;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:15px;
	padding-top:20px;
	background: #262626;
	opacity: 0.9;
	padding-bottom: 30px;
}
#panel{
	width:380px;
	float:right;
	border-left:solid 1px #7b7b7b;
	margin-left: -1px;
	padding-left:10px;
	margin-bottom:30px;
	padding-right:10px;
	padding-top:20px;
	background: #262626;
	opacity: 0.9;
}

#sidecontent1{
	position:relative;
}

#sidecontent2{
	position:relative;
}

.link_fake {
	color:#e2e2e2;
}
.link_fake_underline {
	color:#e2e2e2;
}
h2.link_fake {
	color:#FFFFFF;
}
.link_fake:hover {
	color:#FF6600;
	cursor: pointer;
}
.link_fake_underline:hover {
	color:#ff6600 !important;
	cursor: pointer;
}

div.error p {
	color:#FF0000;
}

.seperator{
	background-image:url(img/seperator.png);
	width:2px;
	height:10px;
	background-repeat:no-repeat;
}

fieldset {
	border: 1px solid #ff6600
}

.nhl-class-small{
	font-size:14px;
	font-weight:400;
	color: #7B7B7B;
	text-transform:uppercase;
}
.hl-class-small{
	font-size:14px;
	font-weight:600;
	color: #ff6600;
	text-transform:uppercase;
}

#info {
	color:#2e2e2e;
	font-size:14px;
	font-weight:400;
}

.orange{
	color:#ff6600;
}
.orange-heavy{
	color:#ff6600;
	font-weight:600;
}


.badges h2{
	font-size:20px;
	font-weight:700;
	text-transform:uppercase;
}

.badges h3{
	color:#ff6600;
	font-size:16px;
}
.tooltip{
	display:none;
	font-size:12px;
	font-weight:300;
	max-width:500px;
	color:#e2e2e2;
	background-color:#4d4d4d;
}
.or{
	color:#7b7b7b;
}

.active {
	border:3px solid #ff6600;
}
.iconchange{
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;
}
.iconchange:hover{
	border: 1px solid #ff6600;
}

div.comment-header {
	margin:20px 0 0 0;
	background-color:#191919;
	padding:2px 5px;
	border: 1px solid #7b7b7b;
}
p.comment-header-date {
	margin:0;
	float:left;
	font-size:12px;
}
p.comment-header-right {
	margin:0;
	float:none;
	text-align:right;
	font-size:12px;
}
div.comment-body {
	border:1px solid #ff6600;
	border-top:none;
	background-color:#333;
	float: left;
	width: 628px;
	min-height:130px;
}
div.comment-left {
	width:145px;
	float:left;
	padding:5px;
	text-align:center;
}
div.comment-right {
	padding:5px 5px 5px 5px;
	margin-left:156px;
	background-color: #292929;
	overflow:hidden;
	min-height:130px;
}

.hoverable:hover{
	cursor:pointer;
	color:#ff6600;
}

table.banners {
	border-collapse: collapse;
}
table.banners td {
	padding:4px;
	border:1px solid gray;
}

#poweredby, #copyright {
	padding: 40px;
	width: 840px;
	position: relative;
	float: left;
	padding-top: 20px;

}

.ui-icon-triangle-1-e {
	background-position: -112px -191px;
}

.ui-icon-triangle-1-s {
	background-position: -128px -191px;
}

.imagelink {
	margin-top: 20px;
}

.imagelink img {
	display: block;
	float: right;
	border: 0 none;
	margin-right:10px;
}

.igblink {
	cursor: pointer;
}

#topictable td, h3, .comment-body .comment-right {
	word-break: break-all;
	word-break: break-word;
}

.toggle {
	cursor: pointer;
}

.delete-page {
	position:absolute;
	right: 0;
	width: 28px;
	height: 23px;
	font-size: 10px;
	color: #333333 !important;
}

.edit-page {
	position:absolute;
	width: 28px;
	height: 23px;
	font-size: 10px;
	color: #333333 !important;
	right: 36px;
}

.ui-widget-overlay {
	background: none;
}

.privacyOpt {
	text-align: left;
	padding-left: 8px;
}

td .hl-class-small {
	font-size: 16px;
}

.badges-wrapper {
    position: relative;
}

#badgeRankSelect {
    position: absolute;
    top: 70px;
    right: 0px;
}

.info.long {
    width: 1070px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    opacity: 1.0;
}
table {
    background-color: transparent;
    border-collapse:collapse;
    margin: 2px 0;
}
td {
    border:none;
    padding:2px 5px;
}
td table {
    margin-left:20px;
}

table.bordered td, table.bordered th {
    border: 1px solid #7b7b7b;
    padding:2px 10px;
}
table.rowbordered tr {
    border:1px solid #7b7b7b;
}
table.rowbordered td, table.rowbordered th {
    padding:2px 10px;
}